html {
  font-family: 'Avenir Next', 'Segoe UI', 'Helvetica Neue', Arial, 'PingFang SC',
  'Heiti SC', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Source Han Sans',
  sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
